<!DOCTYPE html>
<html>
<head>
	<title>
		upload
	</title>
</head>
<body>
	<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload Video</h1>
      <hr>

      <form action="/upload" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select Video</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select Video...</label>


          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>
	


		
</body>
</html>
